<section>
    </div>
    <div>{{ article.article_test }}</div>
    <div ng-repeat="articleCollection in article.allArticles track by $index" class="article-date-container">
            <span>{{ articleCollection.dateAdded | date:'short' }}</span>
            <div ng-repeat="story in articleCollection.articleList | orderBy:'-dateAdded' track by $index"  class="article-container">
              <div class="article-content-container">
                <p>
                    <a href="{{ story.url }}" target="_blank">{{ story.title }}</a>
                    <br/>
                    <span>{{ story.summary }}</span>
                    <br/>
                    <span>{{ story.writer }}</span>
                    <br/>
                </p>
              </div>
            </div>
            <form ng-submit="article.addArticle(articleCollection)">
              <label>Title: </label><input ng-model="article.title" type="text" />
              <label>URL: </label><input ng-model="article.url" type="text" placeholder="http://www.amazon.com" />
              <label>Writer: </label><input ng-model="article.writer" type="text" />
              <select name="publications" ng-model="article.publication">
                <option value="L.A. Times">L.A. Times</option>
                <option value="New York Times">New York Times</option>
                <option value="Wall Street Journal">Wall Street Journal</option>
              </select>
              <button type="button" ng-click="article.addArticle(articleCollection)">
                  add article
              </button>
            </form>
     </div>
</section>
